{% extends 'templates/dashboardtemplate.html' %}

{% block content %}

    <link rel="stylesheet" href="/assets/style/createusers.css">

    <h2 class="form-title">Criar Usuário</h2>

    <div class="form-area">
        <form action="http://localhost:8082/dashboard/user" method="POST">
            
            <div class="username-area">
                <label for="username">Digite o nome do usuário: </label>
                <input type="text" name="username" id="username">
            </div>

            <div class="usermail-area">
                <label for="useremail">Digite o e-mail: </label>
                <input type="email" name="useremail" id="useremail">
            </div>

            <div class="user-password-area">
                <label for="password">Senha: </label>
                <input type="password" name="password" id="password">
            </div>

            <div class="user-permissions-area">
                <label>
                    <input type="checkbox" value="1" id="can-create-posts" name="canCreatePosts">
                    Pode criar posts.
                </label>

                <label>
                    <input type="checkbox" value="1" id="can-delete-posts" name="canDeletePosts">
                    Pode apagar posts.
                </label>

                <label>
                    <input type="checkbox" value="1" id="can-create-users" name="canCreateUsers">
                    Pode criar usuários.
                </label>
                
                <label>
                    <input type="checkbox" default value="1" id="can-delete-users" name="canDeleteUsers">
                    Pode apagar usuários.
                </label>
                
            </div>

            <div class="submit-btn-area">
                <input type="submit" value="Cadastrar">
            </div>
        </form>
    </div>
{% endblock %}