{% extends 'templates/dashboardtemplate.html' %}

{% block content %}
  <link rel="stylesheet" href="assets/style/dashboardcontent.css" />

  <div class="admin-painel">
    <div class="first-group">

      <a href="http://localhost:8082/dashboard/post" class="container">
        
          <div class="container-img">
            <img src="/assets/images/plus.png" alt="Criar post">
          </div>
  
          <div class="container-span">
            <span>Criar Post</span>
          </div>
        
      </a>
  
      <a href="http://localhost:8082/dashboard/post" class="container">
        
          <div class="container-img">
            <img src="/assets/images/trash.png" alt="Apagar post">
          </div>
  
          <div class="container-span">
            <span>Apagar Post</span>
          </div>
        
      </a>
  
  
    </div>

    <div class="second-group">

      <a href="http://localhost:8082/dashboard/post" class="container">
        
          <div class="container-img">
            <img src="/assets/images/add-user.png" alt="Criar usuário">
          </div>
  
          <div class="container-span">
            <span>Criar Usuário</span>
          </div>
        
      </a>
  
      <a href="http://localhost:8082/dashboard/post" class="container">
        
          <div class="container-img">
            <img src="/assets/images/remove-user.png" alt="Apagar usuário">
          </div>
  
          <div class="container-span">
            <span>Apagar Usuário</span>
          </div>
        
      </a>
  
  
    </div>
  </div>
{% endblock %}
