{% extends 'templates/maintemplate.html' %}


{% block content %}

    <link rel="stylesheet" href="/assets/style/home.css">

    <div class="page-logo">
        <img src="/assets/images/dark-mode-logo.png" alt="Mailer">
        <p>Acesse nossas publicações em qualquer lugar.</p>
    </div>

    <div class="page-description">
        <div class="page-description-title">
            <h1>Por que o The Mailer?</h1>
        </div>

        <div class="page-content-money content-container">

            <div class="page-money-text-area">
                <h2>Não cobramos taxas.</h2>
            </div>

            <div class="money-image-area">
                <img src="/assets/images/no-money.png" alt="">
            </div>
        </div>

        <!-- <hr class="first-horizontal-row"> -->

        <div class="page-content-world content-container">

            <div class="page-money-text-world">
                <h2>Veja de qualquer lugar!</h2>
            </div>

            <div class="world-image-area">
                <img src="/assets/images/world.png" alt="">
            </div>
        </div>

        <!-- <hr class="second-horizontal-row"> -->

        <div class="page-content-email content-container">

            <div class="page-money-text-email">
                <h2>Receba notificações por e-mail!</h2>
            </div>

            <div class="world-image-email">
                <img src="/assets/images/mailbox.png" alt="">
            </div>
        </div>

    </div>

    <script>
        
    </script>

{% endblock %}