{% extends 'templates/maintemplate.html' %}

{% block content %}

    <link rel="stylesheet" href="/assets/style/login.css">

    <div class="form-area">
        <form action="http://localhost:8082/login" method="POST">
        
            <div class="email-area">
                <label for="email">Email:</label>
                <input type="email"  name="email" id="email">
            </div>
    
            <div class="password-area">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            
            <div class="submit-btn-area">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>


    <script>
        
    </script>
{% endblock %}