{% extends 'templates/maintemplate.html' %}

{% block content %}

    <link rel="stylesheet" href="/assets/style/post.css">

    <div class="post-area">
        
        <div class="post-title-area">
            <h2 class="class">{{ post['post_title'] }}</h2>
        </div>

        <div class="post-content-area">
            <p class="post-content">{{ post['post_content'] }}</p>
        </div>

        <div class="post-info">
            <address>
                <span>Publicado por: <strong>{{ post['post_author'] }}</strong></span>
                <span>Data da publicação: <strong>{{ post['post_data'] }}</strong></span>
            </address>
        </div>

    </div>
    
{% endblock %}