<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">


    <title>Template Principal</title>
    <link rel="stylesheet" href="assets/style/index.css">


  </head>
  <body>
    <header>
      <div class="navbar">
        <a href="#" class="logo-btn">
          <img src="assets/images/logo.png" alt="logo image" />
        </a>


        <div class="mobile-devices">
            <img src="assets/images/menu.png" alt="Menu Icon">
        </div>

        <nav class="nav-area">
          <div class="navbar-links">
            <ul>
              <li>
                <a href="#" class="link">Ver todos</a>
              </li>
              <li>
                <a href="#" class="link">Posts salvos</a>
              </li>
              <li>
                <a href="#" class="link">
                  <div class="signup-btn">
                    Inscreva-se
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </nav>


      </div>
    </header>

    <script src="assets/js/index.js"></script>

  </body>
</html>
